.body {
    margin: 0;
    padding: 0;
    
    font-family: sans-serif;
}
.card {
    
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    width: 400px;
    height: 350px;
    background: #000;
    border: none;
    margin: 15px;
}
.card .image {
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.card .feature {
    width: 100%;
    height: 40%;
    overflow: hidden;
    background-color: #1D294B;
}
.card .feature ul{
    margin: 10px auto;
    padding: 0;
    display: table;
}
.card .feature ul li{
    background: #4B5769;
    color: #fff;
    /* width: auto; */
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
    list-style: none;
    margin: 10px 5px;
    float: left;
    padding:0 15px !important;
}
.card .image img {
    width: 100%;
    height: 100%;
    transition: .5s;
    object-fit: cover;
}
.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #153956;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: #153956;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.card .details .center h1 span {
    font-size: 14px;
    color: #262626;
}
.card .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
    text-align: justify;
}
.card .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}
.card .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.card .details .center ul li a {
    display: block;
    background: #464141;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.card .details .center ul li a:hover {
    background: #153956;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}