.about-container{
    background-color: #16203A;
    padding:190px 20px;
}
.about-sec{
    background-color: #153956;
}
.about-text{
    padding: 35px 25px;
}
.about-text h1,p , .skill h3{
    color: #fff;
}
.pic{
    height:250px;
    margin: 0 auto;
}
.pic-container{
    
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
.skill h3{
    margin: 50px 0px;
    
}
.skill ul{
 
    padding: 0;
    display: table;
}
.skill ul li{
    background: #4B5769;
    color: #fff;
    /* width: auto; */
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
    list-style: none;
    margin: 10px 5px;
    float: left;
    padding:0 15px !important;
}