input, textarea{
    display: block;
    margin-bottom: 10px;
    width: 400px;
    padding: 10px ;
    background-color:#002E4D;
    border: 1px solid gray;
}
.link{
    color: #F07B61;
}
.link:hover{
    text-decoration: none;
    color: #F07B61;
}
.contact{
    margin-bottom: 25px;
    color: #F07B61;
}
h4{
    margin-bottom: 20px;
}
.form-container{
    display: flex;
    justify-content: center;
}